# Copyright (c) 2025, George Norton
# SPDX-License-Identifier: MIT

config BOARD_PLOOPY_MOUSE
    bool "ploopy_mouse"
    depends on SOC_RP2040
    imply ZMK_MOUSE
    select pinctrl
    select GPIO
    select INPUT
    select SPI
    select INPUT_PIXART_PMW3360