// Copyright (c) 2025, George Norton
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors/mouse_move.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>

#define BASE 0
#define SCROLL 1
#define RESERVED1 2
#define RESERVED2 3

/ {
    // Enable drag scroll is the SCROLL layer is active
    mouse_listener {
        input-processors = <&zip_xy_scaler 3 2>;

        scroller {
            layers = <SCROLL>;
            input-processors = <&zip_xy_to_scroll_mapper>;
        };
    };

    behaviors {
        // Modified layer tap that supports mouse keys.
        lmkt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
            display-name = "Layer-Tap";
        };
        // Behaviour to cycle through DPI values on a keypress
        dpi_cycle: sensor_dpi_cycle {
            compatible = "zmk,behavior-sensor-attr-cycle";
            #binding-cells = <1>;
            values = < 100 300 600 900 1200 >;
            attr = <0>;
            sensor_device = <&mouse>;
            display-name = "DPI cycle";
            persistant;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_bootloader {
            timeout-ms = <500>;
            key-positions = <0 1>;
            bindings = <&bootloader>;
        };
        combo_studio_unlock {
            timeout-ms = <500>;
            key-positions = <4 5>;
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                &mkp MB4    &mkp MB5    &mo SCROLL    &mkp MB2    &mkp MB1    &mkp MB3
            >;
            display-name = "Default layer";
        };

        scroll_layer {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
            display-name = "Drag-scroll layer";
        };

        reserved_layer_1 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
            display-name = "Reserved layer";
        };

        reserved_layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
            display-name = "Reserved layer";
        };
    };
};