# Copyright (c) 2025, George Norton
# SPDX-License-Identifier: MIT

config BOARD_PLOOPY_CLASSIC_2
    bool "ploopy_classic_2"
    depends on SOC_RP2040
    select ZMK_MOUSE
    select pinctrl
    select INPUT
    select INPUT_PIXART_PMW3360
    select PLOOPY_OPTICAL_ENCODER
    select RP2040_SLEEP